.section-top {
    height: 100vh;
    background: #1f1f1f url("../img/section-top/back.jpeg") center no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    min-height: 600px;
    padding: 170px 0 100px;
}

.section-top:before {
    content: '';
    position: absolute;
    background: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.section-top__container {
    position: relative;
    width: 520px;
}

.section-top__info {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: yellow;
    margin: 0;
}

.section-top__title {
    font-size: 55px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    margin: 0 0 35px;
}

@media (max-width: 992px) {
    .section-top {
        padding-top: 150px;
    }

}

@media (max-width: 576px) {
    .section-top__info {
        font-size: 18px;
    }
    .section-top__title {
        font-size: 46px;
    }
    
}

@media (max-width: 370px) {

    .section-top__title {
        font-size: 34px;
    }

}